{% assign thumb = Model.ContentItem.Content.GalleryEmbedItem.ThumbnailImage.Paths[0] | asset_url %}
{% assign embedUrl = Model.ContentItem.Content.GalleryEmbedItem.EmbedURL.Text %}

{% if Model.Properties.ThumbnailAspectRatio == "16-9" %}
    {% assign thumb = thumb | resize_url: width: 1280, height: 720, mode:'crop' %}
{% elsif Model.Properties.ThumbnailAspectRatio == "1-1" %}
    {% assign thumb = thumb  | resize_url: width: 1280, height: 1280, mode:'crop' %}
{% elsif Model.Properties.ThumbnailAspectRatio == "9-16" %}
    {% assign thumb = thumb  | resize_url: width: 1280, height: 2276, mode:'crop' %}
{% else %}
    {% assign thumb = thumb  | resize_url: width: 1280 %}
{% endif %}

{% if embedUrl contains "vimeo" %}
    {% script name:"vimeo", src:"https://player.vimeo.com/api/player.js", at:"Head", async: "true" %}
{% endif %}

{% assign altText = Model.ContentItem.Content.GalleryEmbedItem.ThumbnailAltText.Text | default: Model.ContentItem.Content.GalleryEmbedItem.ThumbnailImage.MediaTexts[0] %}

<li class="gallery__item gallery__item--embed gallery__item--thumbnail-force-{{ Model.Properties.ThumbnailAspectRatio }}">
    <a class="gallery__item-link" href="{{ embedUrl }}">
        <img class="gallery__item-thumb" src="{{ thumb }}" title="{{ Model.ContentItem.Content.GalleryEmbedItem.Title.Text }}" alt="{{ altText }}" loading="lazy" />
    </a>
</li>