{% assign id = Model.ContentItem.Content.HtmlAttributesPart.Id %}
{% assign cssClasses = Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
{% assign text = Model.ContentItem.Content.Paragraph.Text.Text | liquid %}

{% if Model.ContentItem.Content.HtmlAttributesPart != null %}
    <p {% if id != null %} id="{{ id }}" {% endif %} class="{{ cssClasses }} {{ Model.ContentItem | animation_css }}" style="{{ Model.ContentItem | animation_styles }}" {{ Model.ContentItem | animation_data_attributes }}>{{ text }}</p>
{% else %}
    <p class="{{ Model.ContentItem | animation_css }}" style="{{ Model.ContentItem | animation_styles }}" {{ Model.ContentItem | animation_data_attributes }}>{{ text }}</p>
{% endif %}