{% assign altText = Model.ContentItem.Content.VideoModal.AltText.Text %}
{% assign cssClasses = "video-modal js-gallery" %}
{% assign embedURL = Model.ContentItem.Content.VideoModal.ThumbnailVideo.Text %}
{% assign imagePath = Model.ContentItem.Content.VideoModal.ThumbnailImage.Paths[0] %}
{% assign text = Model.ContentItem.Content.VideoModal.Video.Text %}
{% assign url = Model.ContentItem.Content.VideoModal.Video.Url %}

{% assign onClickEvent = Model.ContentItem.Content.JavaScriptEventsPart.OnClick.Value %}

{% if Model.ContentItem.Content.VisibilityPart.ResponsiveVisibility.Text != blank %}
    {% assign cssClasses = cssClasses | append:" " | append: Model.ContentItem.Content.VisibilityPart.ResponsiveVisibility.Text %}
{% endif %}

{% if url != nil %}
<div class="{{ cssClasses }}">
    <a class="video-modal__link" href="{{ url }}" {% if onClickEvent !=nil%} onClick="{{ onClickEvent }}" {% endif %}>
        {% if embedURL != nil %}
            <div class="video-modal__media">
                <div class="embed embed--ratio-16-9">
                    <div class="embed__source">
                        <iframe src="{{embedURL}}" title="{{ altText }}" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <div class="video-modal__cover"></div>
        {% elsif imagePath != nil %}
            <div class="video-modal__media">
                <img class="video-modal__thumbnail" src="{{ imagePath | asset_url | resize_url: width: 425, height: 240 }}"
                    alt="{{ altText }}" loading="lazy" />
            </div>
        {% endif %}
        {% if text != nil %}
            <div class="video-modal__link-text">
                {{ text }}
            </div>
        {% endif %}
    </a>
</div>
{% endif %}
