{% assign items = Model.ContentItem.Content.FeaturedContent.Items.ContentItemIds | content_item_id %}
{% assign pageUrl = Request.PathBase | append: Request.Path %}

{% assign hideHeader = Model.ContentItem.Content.FeaturedContent.HideWidgetHeader.Value %}

{% assign backgroundColour = Model.ContentItem.Content.BackgroundPart.BackgroundColour.Value %}
{% assign backgroundPattern = Model.ContentItem.Content.BackgroundPart.BackgroundPattern.Text %}
{% assign backgroundFixed = Model.ContentItem.Content.BackgroundPart.BackgroundFixed.Value %}
{% assign backgroundFill = Model.ContentItem.Content.BackgroundPart.BackgroundFill.Value %}
{% assign invertColour = Model.ContentItem.Content.BackgroundPart.InvertTextColour.Value %}

{% assign cols = Model.ContentItem.Content.ColumnablePart.Columns.Text %}

{% assign cssClasses = "content-feed" %}

{% if backgroundFixed %}
    {% assign cssClasses = cssClasses | append: " bg--fixed" %}
{% endif %}

{% if backgroundFill %}
    {% assign cssClasses = cssClasses | append: " bg--fill" %}
{% endif %}

{% if invertColour %}
    {% assign cssClasses = cssClasses | append: " content-feed--inverted" %}
{% endif %}

{% assign styles = "" %}

{% if backgroundColour != nil %}
    {% assign backgroundColour = "--cardBackground:" | append: backgroundColour | append:"; " %}
    {% assign styles = styles | append: backgroundColour %}
{% endif %}

{% if backgroundPattern != nil and backgroundPattern != "" %}
    {% assign backgroundPatternURL = backgroundPattern | asset_url %}
    {% assign backgroundPattern = "--cardBackgroundPattern: url(" | append: backgroundPatternURL | append:"); " %}
    {% assign styles = styles | append: backgroundPattern %}
{% endif %}

{% if items.size > 0 %}
    <div class="{{ cssClasses }} {{ Model.ContentItem | animation_css }}" style="{{ styles }} {{ Model.ContentItem | animation_styles }}" {{ Model.ContentItem | animation_data_attributes }}>

        {% if hideHeader == false %}
            <header class="content-feed__header">
                <h2 class="content-feed__title">{{ Model.ContentItem | displayText }}</h2>
                <div class="content-feed__links">
                    {% for child in Model.ContentItem.Content.Links.ContentItems %}
                        {{ child | shape_build_display: "Detail" | shape_render }}
                    {% endfor %}
                </div>
            </header>
        {% endif %}

        <div class="content-feed__list content-feed__list--{{cols}}-cols columns--{{cols}}">
            {% for item in items %}
                <div class="content-feed__item">
                    {{ item | shape_build_display: "Summary" | shape_render }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
