{% assign mainMenu = Content.ContentItemId[Model.ContentItem.Content.Banner.Menu.ContentItemIds] %}
{% assign mainMenuAlias = "alias:" | append: mainMenu.Content.AliasPart.Alias %}

{% assign socialMenu = Content.ContentItemId[Model.ContentItem.Content.Banner.SocialMenu.ContentItemIds] %}
{% assign socialMenuAlias = "alias:" | append: socialMenu.Content.AliasPart.Alias %}

{% assign css = "header" %}
{% assign constrainClasses = "constrain" %}

{% assign contentWidth = Model.ContentItem.Content.Banner.ContentWidth.Text %}

{% assign backgroundColour = Model.ContentItem.Content.BackgroundPart.BackgroundColour.Value %}
{% assign backgroundPattern = Model.ContentItem.Content.BackgroundPart.BackgroundPattern.Text %}
{% assign backgroundFixed = Model.ContentItem.Content.BackgroundPart.BackgroundFixed.Value %}
{% assign backgroundFill = Model.ContentItem.Content.BackgroundPart.BackgroundFill.Value %}
{% assign inverted = Model.ContentItem.Content.BackgroundPart.InvertTextColour.Value %}

{% assign mobileBackgroundColour = Model.ContentItem.Content.Banner.MobileBackgroundColour.Value %}
{% assign mobileBackgroundPattern = Model.ContentItem.Content.Banner.MobileBackgroundPattern.Text %}
{% assign position = Model.ContentItem.Content.Banner.Position.Text %}

{% if backgroundFixed %}
    {% assign css = css | append: " bg--fixed" %}
{% endif %}

{% if backgroundFill %}
    {% assign css = css | append: " bg--fill" %}
{% endif %}

{% if inverted %}
    {% assign css = css | append: " header--inverted inverted" %}
{% endif %}

{% if position != nil and position != "" %}
    {% assign positionCss = position | prepend: " header--" %}
    {% assign css = css | append: positionCss %}
{% endif %}

{% if contentWidth != nil %}
    {% assign constrainClasses = constrainClasses | append: " constrain--" | append: contentWidth %}
{% endif %}

{% assign styles = "" %}

{% if backgroundColour != nil %}
    {% assign backgroundColour = "--headerBackgroundColor:" | append: backgroundColour | append:"; " %}
    {% assign styles = styles | append: backgroundColour %}
{% endif %}

{% if backgroundPattern != nil and backgroundPattern != "" %}
    {% assign backgroundPatternURL = backgroundPattern | asset_url %}
    {% assign backgroundPattern = "--headerBackgroundPattern: url(" | append: backgroundPatternURL | append:"); " %}
    {% assign styles = styles | append: backgroundPattern %}

    {% link rel:"preload", as:"image", src: backgroundPatternURL %}
{% endif %}

{% if mobileBackgroundColour != nil %}
    {% assign mobileBackgroundColour = "--headerMobileBackgroundColor:" | append: mobileBackgroundColour | append:"; " %}
    {% assign styles = styles | append: mobileBackgroundColour %}
{% endif %}

{% if mobileBackgroundPattern != nil and mobileBackgroundPattern != "" %}
    {% assign mobileBackgroundPatternURL = mobileBackgroundPattern | asset_url %}
    {% assign mobileBackgroundPattern = "--headerMobileBackgroundPattern: url(" | append: mobileBackgroundPatternURL | append:"); " %}
    {% assign styles = styles | append: mobileBackgroundPattern %}
{% endif %}

{% assign logoUrl = Request.PathBase | append: "/" %}

{% if Model.ContentItem.Content.Banner.LogoUrl.Text != nil %}
    {% assign logoUrl = Model.ContentItem.Content.Banner.LogoUrl.Text | liquid %}
{% endif %}

<header class="{{ css }}" style="{{ styles }}">
    <div class="header__content {{ constrainClasses }}">
        {% if Model.ContentItem.Content.Banner.Logo.Paths[0] != nil %}
            <a class="header__logo" href="{{ logoUrl }}">
                <picture>
                    {% if Model.ContentItem.Content.Banner.LogoSmall.Paths[0] != nil %}
                        <source srcset="{{ Model.ContentItem.Content.Banner.Logo.Paths[0] | asset_url }}" media="(min-width: 768px)">
                        <img src="{{ Model.ContentItem.Content.Banner.LogoSmall.Paths[0] | asset_url }}" alt="{{ Model.ContentItem.Content.Banner.LogoAlternateText.Text }}" />
                    {% else %}
                        <img src="{{ Model.ContentItem.Content.Banner.Logo.Paths[0] | asset_url }}" alt="{{ Model.ContentItem.Content.Banner.LogoAlternateText.Text }}" />
                    {% endif %}
                </picture>
            </a>
        {% endif %}

        {% if mainMenu != nil or socialMenu != nil %}

            <button type="button" class="header__nav-button js-nav-button">{{ Model.ContentItem.Content.Banner.MenuToggleButtonLabel.Text }}</button>
            <button type="button" class="header__nav-button header__nav-button--close js-nav-button">{{ Model.ContentItem.Content.Banner.MenuCloseButtonLabel.Text }}</button>

            <div class="header__nav">

                {% if mainMenu != nil %}
                <nav class="nav nav--primary">
                    {% shape "menu", alias: mainMenuAlias %}
                </nav>
                {% endif %}

                {% if socialMenu != nil %}
                    <nav class="nav nav--social">
                        {% shape "menu", alias: socialMenuAlias %}
                    </nav>
                {% endif %}
            </div>

        {% endif %}
    </div>
</header>
