{% assign backgroundType = Model.ContentItem.Content.Hero.BackgroundType.Text %}

<section class="hero">
    <div class="hero__body constrain constrain--wide">
        <h1 class="hero__title"><span>{{ Model.ContentItem.Content.Hero.DisplayText.Text | raw }}</span></h1>
        {% if Model.ContentItem.Content.Hero.CTALabel.Text != nil %}
            <a href="{{ Model.ContentItem.Content.Hero.CTAUrl.Text | href }}" class="btn btn--primary">{{ Model.ContentItem.Content.Hero.CTALabel.Text | raw }}</a>
        {% endif %}
    </div>
            
    {% if backgroundType == "embed" %}
        <div class="hero__media">
            <div class="embed embed--ratio-16-9">
				<div class="embed__source">
					<iframe src="{{ Model.ContentItem.Content.Hero.BackgroundEmbed.Text }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
            </div>
        </div>
    {% else %}
        {{ Model.Content | shape_render }}
    {% endif %}
</section>