{% assign level = Model.ContentItem.Content.Heading.Level.Text %}
{% assign visualLevel = Model.ContentItem.Content.Heading.VisualLevel.Text %}
{% assign text = Model.ContentItem.Content.Heading.Text.Text %}
{% assign id = text | slugify %}
{% assign cssClasses = "heading" %}

{% assign linkUrl = Model.ContentItem.Content.LinkDestinationPart.DestinationUrl.Text %}
{% assign openIn = Model.ContentItem.Content.LinkBehaviourPart.OpenIn.Text %}
{% assign isModal = openIn == 'modal' or openIn == 'modal-wide' %}
{% assign onClickEvent = Model.ContentItem.Content.LinkBehaviourPart.ClickEvent.Value %}

{% if Model.ContentItem.Content.HtmlAttributesPart.Id != null %}
    {% assign id = Model.ContentItem.Content.HtmlAttributesPart.Id %}
{% endif %}

{% if Model.ContentItem.Content.HtmlAttributesPart.CssClasses != null %}
    {% assign cssClasses = cssClasses | append: " " | append: Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
{% endif %}

{% comment %} This check is included for backwards compatibility but should not be needed in future {% endcomment %}
{% if level == "1" or level == "2" or level == "3" or level == "4" or level == "5" or level == "6" %}
    {% assign level = "h" | append: level %}
{% endif %}

{% if visualLevel != nil %}
    {% assign cssClasses = cssClasses | append: " " | append: visualLevel %}
{% endif %}

{% if isModal %}
    {% assign cssClasses = cssClasses | append: ' js-iframe-modal' %}
{% endif %}

{% if linkUrl != blank %}

<a href="{{ linkUrl | liquid }}"
{% if openIn != null and isModal == false %} target="{{ openIn }}" {% endif %}
{% if isModal %} data-iframe="true" {% endif %}
{% if openIn == 'modal-wide' %} data-wide="true" {% endif %}
{% if onClickEvent != blank %} onClick="{{ onClickEvent }}" {% endif %}>

    <{{ level }} 
    id="{{ id }}" 
    class="{{ cssClasses }} {{ Model.ContentItem | animation_css }}" 
    style="{{ Model.ContentItem | animation_styles }}" 
    {{ Model.ContentItem | animation_data_attributes }}>
        {{ text | raw }}
    </{{ level }}>

</a>

{% else %}

<{{ level }} 
id="{{ id }}" 
class="{{ cssClasses }} {{ Model.ContentItem | animation_css }}" 
style="{{ Model.ContentItem | animation_styles }}" 
{{ Model.ContentItem | animation_data_attributes }}>
    {{ text | raw }}
</{{ level }}>

{% endif %}