{% assign id = Model.ContentItem.Content.HtmlAttributesPart.Id %}

{% assign backgroundType = Model.ContentItem.Content.Hero.BackgroundType.Text %}

{% assign cssClasses = "hero" %}
{% assign constrainClasses = "constrain" %}

{% assign contentWidth = Model.ContentItem.Content.Hero.ContentWidth.Text %}
{% assign gutterClass = Model.ContentItem.Content.Hero.Gutter.Text %}

{% if Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
    {% assign cssClasses = cssClasses | append: " " | append: Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
{% endif %}

{% if contentWidth != nil %}
    {% assign constrainClasses = constrainClasses | append: ' constrain--' | append: contentWidth %}
{% endif %}

{% assign horzAlignment = Model.ContentItem.Content.Hero.HorizontalAlignment.Text %}
{% if horzAlignment != nil %}
    {% assign horzAlignmentClass = " hero--horizontal-" | append: horzAlignment %}
    {% assign cssClasses = cssClasses | append: horzAlignmentClass %}
{% endif %}

{% assign vertAlignment = Model.ContentItem.Content.Hero.VerticalAlignment.Text %}
{% if vertAlignment != nil %}
    {% assign vertAlignmentClass = " hero--vertical-" | append: vertAlignment %}
    {% assign cssClasses = cssClasses | append: vertAlignmentClass %}
{% endif %}

{% if Model.ContentItem.Content.Hero.PullUp.Value %}
    {% assign cssClasses = cssClasses | append: " hero--pull-up" %}
{% endif %}

{% if Model.ContentItem.Content.Hero.InvertColour.Value %}
    {% assign cssClasses = cssClasses | append: " hero--inverted" %}
{% endif %}

{% if Model.ContentItem.Content.Hero.AddGradient.Value %}
    {% assign cssClasses = cssClasses | append: " hero--with-media-gradient" %}
{% endif %}

{% if gutterClass != nil and gutterClass != "default" %}
    {% assign cssClasses = cssClasses | append: " gutter--" | append: gutterClass %}
{% endif %}

<section {% if id != nil %} id="{{ id }}" {% endif %} class="{{ cssClasses }}">
    <div class="hero__body {{ constrainClasses }}">
        {{ Model.Content.Content | shape_render }}
    </div>
            
    {% if backgroundType == "embed" %}
        <div class="hero__media">
            <div class="embed embed--ratio-16-9">
				<div class="embed__source">
					<iframe src="{{ Model.ContentItem.Content.Hero.BackgroundEmbed.Text }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
            </div>
        </div>
    {% else %}
        {{ Model.Background | shape_render }}
    {% endif %}
</section>
