{% assign id = Model.ContentItem.Content.HtmlAttributesPart.Id %}
{% assign cssClasses = "section" %}
{% assign constrainClasses = "constrain" %}

{% assign backgroundColour = Model.ContentItem.Content.BackgroundPart.BackgroundColour.Value %}
{% assign backgroundFixed = Model.ContentItem.Content.BackgroundPart.BackgroundFixed.Value %}
{% assign backgroundFill = Model.ContentItem.Content.BackgroundPart.BackgroundFill.Value %}
{% assign backgroundPattern = Model.ContentItem.Content.BackgroundPart.BackgroundPattern.Text %}
{% assign invertColour = Model.ContentItem.Content.BackgroundPart.InvertTextColour.Value %}

{% assign alignment = Model.ContentItem.Content.Section.Alignment.Text %}
{% assign verticalAlignment = Model.ContentItem.Content.Section.VerticalAlignment.Text %}
{% assign contentWidth = Model.ContentItem.Content.Section.ContentWidth.Text %}

{% assign gutterClass = Model.ContentItem.Content.Section.Gutter.Text %}
{% assign verticalGutterClass = Model.ContentItem.Content.Section.VerticalGutter.Text %}

{% assign reverseStackingOrder = Model.ContentItem.Content.Section.ReverseStackingOrder.Value %}
{% assign stackedVerticalGutterClass = Model.ContentItem.Content.Section.StackedVerticalGutter.Text %}

{% assign topPadding = Model.ContentItem.Content.Section.TopPadding.Text %}
{% assign bottomPadding = Model.ContentItem.Content.Section.BottomPadding.Text %}
{% assign spacingAfter = Model.ContentItem.Content.Section.SpacingAfter.Text %}

{% if Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
    {% assign cssClasses = cssClasses | append: " " | append: Model.ContentItem.Content.HtmlAttributesPart.CssClasses %}
{% endif %}

{% if spacingAfter != nil and spacingAfter != "default" %}
    {% assign cssClasses = cssClasses | append: " section--spaced-after-" | append: spacingAfter %}
{% endif %}

{% if topPadding != nil and topPadding != "default" %}
    {% assign cssClasses = cssClasses | append: " section--padding-top-" | append: topPadding %}
{% endif %}

{% if bottomPadding != nil and bottomPadding != "default" %}
    {% assign cssClasses = cssClasses | append: " section--padding-bottom-" | append: bottomPadding %}
{% endif %}

{% if alignment != nil and alignment != "default" %}
    {% assign cssClasses = cssClasses | append: " section--" | append: alignment %}
{% endif %}

{% if verticalAlignment != nil and verticalAlignment != "default" %}
    {% assign cssClasses = cssClasses | append: " section--vertical-" | append: verticalAlignment %}
{% endif %}

{% if gutterClass != nil and gutterClass != "default" %}
    {% assign cssClasses = cssClasses | append: " gutter--" | append: gutterClass %}
{% endif %}

{% if contentWidth != nil %}
    {% assign constrainClasses = constrainClasses | append: " constrain--" | append: contentWidth %}
{% endif %}

{% if backgroundFixed %}
    {% assign cssClasses = cssClasses | append: " bg--fixed" %}
{% endif %}

{% if backgroundFill %}
    {% assign cssClasses = cssClasses | append: " bg--fill" %}
{% endif %}

{% if invertColour %}
    {% assign cssClasses = cssClasses | append: " section--inverted" %}
{% endif %}

{% assign cssClasses = cssClasses | append: " " | append: gutterClass %}

{% assign cssClasses = cssClasses | append: " " | append: verticalGutterClass %}
{% assign cssClasses = cssClasses | append: " " | append: stackedVerticalGutterClass %}

{% if reverseStackingOrder %}
    {% assign cssClasses = cssClasses | append: " section--reverse-stacking-order" %}
{% endif %}

{% assign styles = "" %}

{% if backgroundColour != nil %}
    {% assign backgroundColour = "--sectionBackgroundColor:" | append: backgroundColour | append:"; " %}
    {% assign styles = styles | append: backgroundColour %}
{% endif %}

{% if backgroundPattern != nil and backgroundPattern != "" %}
    {% assign backgroundPatternURL = backgroundPattern | asset_url %}
    {% assign backgroundPattern = "--sectionBackgroundPattern: url(" | append: backgroundPatternURL | append:"); " %}
    {% assign styles = styles | append: backgroundPattern %}
{% endif %}

<section {% if id != nil %} id="{{ id }}" {% endif %} class="{{ cssClasses }} {{ Model.ContentItem | animation_css }}" style="{{ styles }} {{ Model.ContentItem | animation_styles }}" {{ Model.ContentItem | animation_data_attributes }}>
    <div class="section__content {{ constrainClasses }}">
        {{ Model.Content.Content | shape_render }}
    </div>

    {{ Model.Content.BleedPart | shape_render }}
</section>